<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">

        <title>Edição de Obras</title>

        <!-- Bootstrap core CSS -->
        <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="\">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link" href="\obra">Obras<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="\sair">Sair</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="py-5 text-center">
                <h2>Edição de Obras</h2>
                <p class="lead">Realize atualizações no cadastro de Obras </p>
            </div>

            <form action="/atualizarObra" method="POST">

                <input id="id" name="id" hidden="hidden" value="<%=obra.id%>"/>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="obr_cidade">Cidade</label>
                        <input type="text" class="form-control" id="obr_cidade" name="obr_cidade" value="<%=obra.obr_cidade%>"/>
                        <div class="invalid-feedback">
                            O nome da Cidade é obrigatório
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="obr_tipoobra">Tipo Obra</label>
                        <input type="text" class="form-control" id="obr_tipoobra" name="obr_tipoobra" placeholder="" value="<%= obra.obr_tipoobra %>" required>
                        <div class="invalid-feedback">
                            O tipo da Obra é obrigatório
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="obr_valor">Valor </label>
                        <input type="text" class="form-control" id="obr_valor" name="obr_valor" placeholder="" value="<%= obra.obr_valor %>" required>
                        <div class="invalid-feedback">
                            O Valor é obrigatório
                        </div>
                    </div>
                    <div class="col-md-6">
                    <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="eng_codigo">Engenheiro</label>
                            </div> 
                            <select class="custom-select" name="eng_codigo" id="eng_codigo">
                                <% if(obra.engenheiros) {%>
                                    <% for(let i = 0; i < obra.engenheiros.length; i++ ) { %>
                                        <option  <%=(obra.engenheiros[i].id == obra.eng_codigo?"Selected":"")  %> value=" <%=obra.engenheiros[i].id %> " ><%= obra.engenheiros[i].eng_nome %></option>
                                    <% } %>
                                <% } %>
                            </select>
                            </div>
                        <div class="invalid-feedback">
                            O Engenheiro é obrigatório
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="obr_dtinicio">Data Inicio</label>
                        <input type="date" class="form-control" id="obr_dtinicio" name="obr_dtinicio" placeholder="" value="<%= obra.obr_dtinicio %>"  required>
                        <div class="invalid-feedback">
                            Informe uma data válida
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 d-flex justify-content-end">
                        <input type="submit" class="btn btn-primary" value="Salvar Alterações">
                    </div>
                </div>
            </form>
        </div>
    
        <!-- Bootstrap core JavaScript -->
        <script src="/popper/dist/umd/popper.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>