<!doctype html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">

        <title>Edição de Usuário</title>

        <!-- Bootstrap core CSS -->
        <link href="./bootstrap/css/bootstrap.min.css" rel="stylesheet">

    </head>
    <body>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="\">Home</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-item nav-link" href="\engenheiro">Engenheiro<span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="\login">Sair</a>
                </div>
            </div>
        </nav>

        <div class="container">
            <div class="py-5 text-center">
                <h2>Detalhes de Engenheiro</h2>
            </div>

            <form action="/atualizarEngenheiro" method="POST">

                <input id="id" name="id" hidden="hidden" value="<%=engenheiro.id%>"/>
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="eng_nome">Nome</label>
                        <input type="text" class="form-control" id="eng_nome" name="eng_nome" value="<%=engenheiro.eng_nome%>" disabled/>
                        <div class="invalid-feedback">
                            O nome é obrigatório
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="eng_apelido">Apelido</label>
                        <input type="text" class="form-control" id="eng_apelido" name="eng_apelido" placeholder="" value="<%= engenheiro.eng_apelido %>" disabled>
                        <div class="invalid-feedback">
                            O Apelido é obrigatório
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="eng_telefone">Telefone </label>
                        <input type="text" class="form-control" id="eng_telefone" name="eng_telefone" placeholder="" value="<%= engenheiro.eng_telefone %>" disabled>
                        <div class="invalid-feedback">
                            O Telefone é obrigatório
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label for="eng_crea">Crea</label>
                        <input type="text" class="form-control" id="eng_crea" name="eng_crea" placeholder="" value="<%= engenheiro.eng_crea %>" disabled>
                        <div class="invalid-feedback">
                            O Crea é obrigatório
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="eng_datacrea">Data Registro Crea</label>
                        <input type="date" class="form-control" id="eng_datacrea" name="eng_datacrea" placeholder="" value="<%= engenheiro.teste %>"  disabled>
                        <div class="invalid-feedback">
                            Informe uma data válida
                        </div>
                    </div>
                    </div>
                </div>
            </form>
        </div>
    
    
        <!-- Bootstrap core JavaScript -->
        <script src="/popper/dist/umd/popper.min.js"></script>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>

    </body>
</html>